@page "/"
@rendermode InteractiveServer
@inject OpenAIApiClient OpenAiApi

<PageTitle>Summarize</PageTitle>

<div class="storybox">

    <label for="slug">Slug</label>
    <input type="text" id="slug" name="slug" @bind="Slug"  style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <p><button @onclick="GenerateSummary">Summarize</button></p>

    <p><h3>@Title</h3></p>

    <p><textarea id="summary" name="summary" @bind="Summary" rows="10" cols="50" style="width: 100%; margin-top: 20px; margin-bottom: 20px;"></textarea></p>
</div>

@code {

    string Slug = "";
    string Summary = "";
    string Title = "";

    private async Task GenerateSummary()
    {
        if (string.IsNullOrWhiteSpace(Slug)) return;

        var summarizedArticle = await OpenAiApi.GetArticleSummary(Slug);

        Title = summarizedArticle?.Title;
        Summary = summarizedArticle?.Summary;

        StateHasChanged();
    }
}