@page "/counter"
@using DaprPubSub.Shared
@inject DaprClient DaprClient
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int _currentCount = 0;

    private async Task IncrementCount()
    {
        _currentCount++;

        var countEvent = new CountEvent(_currentCount);
        
        await DaprClient.PublishEventAsync("pubsub", "Counter", countEvent);
    }
}
